@import url(../index.css);

.aside {
    border-right: 1px solid var(--grey-200);
}

.icon {
    margin-right: 8px;
}

.aside > * {
    font-weight: bold;
    border-radius: var(--size-6);
    border-bottom: 1px solid var(--grey-200);
}

.count {
    border-radius: var(--size-5);
    padding: 4px 9px;
}

.aside .flex-row-start:hover {
    background-color: var(--grey-100);
}