@import url(../index.css);

.chip {
    color: var(--red-500);
    border: 1px solid var(--red-500);
    border-radius: var(--size-5);
    background-color: var(--grey-100);
    width: max-content;
}

.chip-active {
    color: var(--font-grey);
    background-color: var(--red-500);
}

.chips-input {
    border: 1px solid var(--red-500);
}
