@import url(../index.css);

.navigation {
    background-color: var(--lime-200);
    box-shadow: var(--box-shadow);
}

.search-field {
    border: 1px solid var(--grey-400);
    border-radius: var(--size-8);
}

.logo {
    margin-right: 7rem;
}

.plus-icon {
    margin-right: 8px;
}

.nav-title {
    flex-grow: 1;
}