@import url(../../src/index.css);

.editor-con {
    width: 100%;
    flex-direction: column;
}

.note-editor {
    border-radius: var(--size-5);
    width: 50%;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;;
}

textarea:focus, input:focus {
    outline: 1px solid var(--blue-600);
}
