@import url(../../src/index.css);

.editor-con {
    flex-direction: column;
}

.note-editor {
    border-radius: var(--size-5);
    width: 100%;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;;
}

textarea {
    outline: transparent;
    border: transparent;
    overflow-y: hidden;
}

textarea:focus, input:focus {
    outline: transparent;
}

.note-input-con {
    background-color: #ecfccb;
    width: 50%;  
    border: 1px solid var(--lime-700);
    border-radius: var(--size-6);
    align-items: flex-start;
    height: 13rem;
}

.input-tags {
    width: max-content;
}

.note-input-con h5 {
    color: var(--lime-700);
}
