.note {
    width: 28rem;
    border-radius: var(--size-9);
    border: 1px solid var(--grey-800);
}

.note-label {
    background-color: var(--red-500);
    padding: 6px 8px;
    border-radius: var(--size-8);
    text-transform: uppercase;
    color: var(--font-grey);
}

.icon {
    margin-right: 1rem;
}