.note {
    width: 28rem;
    background-color: var(--blue-300);
    border-radius: var(--size-9);
}

.note-label {
    background-color: var(--red-500);
    padding: 6px 8px;
    border-radius: var(--size-8);
    text-transform: uppercase;
    color: var(--font-grey);
}

.note-priority {
    background-color: transparent;
    padding: 6px 8px;
    border: 1px solid var(--red-500);
    border-radius: var(--size-8);
    color: var(--red-500);
}

.icon {
    margin-right: 1rem;
}